@mixin reset-list() {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin icomoon { //copypaste from icomoon.scss, just a little bit DRYer
	font-family: 'eige-gm';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin position-valign-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin underline {
	content: '';
	display: block;
	height: 2px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

@mixin underline-hover( $underline-color ) {
	width: 100%;
	background: $underline-color;
}

@mixin half-fullwidth-section() {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 50%;
	padding-right: 0;
	overflow: hidden;
}
