.baseinfo {
	@include flex-grid-row();

	padding-top: rem-calc(40);
	padding-bottom: rem-calc(40);

	&__lang {
		@include flex-grid-column(6);
		display: flex;
		margin-bottom: rem-calc( 24 );

		@include breakpoint( medium ) {
			@include flex-grid-column(2);
		}

		&--right {
    		justify-content: flex-end;
			@include breakpoint( medium ) {
				order: 3;
			}
		}
	}

	&__address {
		@include flex-grid-column(12);
		text-align: center;
		color: $jasmin-gray;
		font-size: rem-calc(18);

		@include breakpoint( medium ) {
			@include flex-grid-column(8);
		}

		a {
			color: inherit;
		}
	}
}