.footer {
	background-color: $jasmin-salmon;
	position: relative;
	text-align: center;

	@include breakpoint( medium ) {
		text-align: left;
	}

	&__inner {
		@include flex-grid-row();

		@include breakpoint( large ) {
			max-width: none;

		}
	}

	&__address {
		@include flex-grid-column(12);
		padding-top: rem-calc(20);

		@include breakpoint( large ) {
			background: transparent url('../../images/kriziky.svg') no-repeat center bottom;
			background-size: contain;
			// @include flex-grid-column(6);
			flex: 0 0 33.3%; 
			padding: rem-calc( 40 60 100 100);
			padding-bottom: rem-calc(200);
		}
	}

	&__sectiontitle {
		display: none;

		@include breakpoint( medium ) {
			display: block;
			margin-bottom: rem-calc(50);
		}
	}

	&__sectionsubtitle {
		margin-bottom: 0;
	}

	&__map {
		@include flex-grid-column( 12, 0 );

		@include breakpoint( medium ) {
			//@include flex-grid-column( 6 );
			@include half-fullwidth-section();
			flex: 0 0 66.6%;
			left: 33.3%;
		}
	}

}