.footer {
	background-color: $jasmin-salmon;

	&__inner {
		@include flex-grid-row();
	}

	&__address {
		@include flex-grid-column(12);
		padding-top: rem-calc(80);
		padding-bottom: rem-calc(200);
		background: transparent url('../../images/kriziky.svg') no-repeat center bottom;
		background-size: contain;

		@include breakpoint( large ) {
			@include flex-grid-column(6);
		}
	}

	&__sectiontitle {
		margin-bottom: rem-calc(50);
	}

	&__sectionsubtitle {
		margin-bottom: 0;
	}

}