.header {
	@include flex-grid-row();
	@include flex-grid-column(12);
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	height: $scrolled-header-height;

	@include breakpoint( medium ) {
		height: $header-height;
	}

	.page-scrolled & {
		position: fixed;
		top: 0;
		width: 100%;
		background: $white;
		height: $scrolled-header-height;
		z-index: 1;
	}


	&__logo {
		display: none;

		@include breakpoint( medium ) {
			display: block;
			height: $header-height;
			
			.page-scrolled & {
				height: auto;
			}
		}

	}
}