.header {
	@include flex-grid-row();
	@include flex-grid-column(12);
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	height: $mobile-header-height;

	position: fixed;
	top: 0;
	width: 100%;
	background: $white;
	z-index: 1;
	
	@include breakpoint( medium ) {
		height: $header-height;
	}

	.page-scrolled & {
		@include breakpoint( medium ) {
			height: $scrolled-header-height;
		}
	}


	&__logo {
		display: none;

		@include breakpoint( medium ) {
			display: block;
			height: $header-height;
			
			.page-scrolled & {
				height: auto;
				max-height: 100%;
			}
		}

	}
}