.menu-pages {
	display: none;

	@include breakpoint( medium ) {
		display: block;
	}

	&__title {
		font-size: rem-calc( 18 );
		color: $white;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: rem-calc( 25 );
		margin-top: rem-calc( 10 );

		@include breakpoint( medium ) {
			color: $primary-color;
			margin-bottom: rem-calc( 40 );
			margin-top: rem-calc( 20 );
		}
	}
}