.menu-paging {
	margin-bottom: rem-calc( 16 );

	@include breakpoint( medium ) {
		margin-bottom: 0;
	}

	&__item {
		cursor: pointer;

		&.slick-slide {
			display: flex;
			justify-content: center;
		}

		&.slick-current {
			border-bottom: 1px solid $white;
		}

		@include breakpoint( medium ) {
			// max-width: rem-calc( 100 );
			// width: 100px;
		}
	}

	&__label {
		padding: rem-calc( 0 7 );
		@include breakpoint( medium ) {
			padding: 0;
			display: none;
		}

		.slick-current & {
			// border: 1px solid rgba( 255, 255, 255, 0.3);
		}
	}

	&__icon {
		display: none !important;
		fill: #484848;

		.slick-current & {
			fill: $primary-color;
			color: $primary-color;
		}

		@include breakpoint( medium ) {
			display: block !important;
			width: rem-calc( 100 );
			height: rem-calc( 100 );
		}
	}

	.slick-list {
		@include breakpoint( medium ) {
			margin: rem-calc( 0 70 );
		}
	}

	.slick-prev {
		left: 0;

		&:before {
		    //content: $slick-prev-character;
		    content: url('../../images/arrow-left.svg');
		    [dir="rtl"] & {
		        //content: $slick-next-character;
		        content: url('../../images/arrow-right.svg');
		    }
		}

	}

	.slick-next {
		right: 0;

		&:before {
		    //content: $slick-next-character;
		    content: url('../../images/arrow-right.svg');
		    [dir="rtl"] & {
		        //content: $slick-prev-character;
		        content: url('../../images/arrow-left.svg');
		    }
		}
	}

}