.main-menu {
	@include reset-list();
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: rem-calc( 16 );
	width: 100%;

	@include breakpoint( medium ) {
		font-size: rem-calc( 18 );
		justify-content: center;
		width: auto;
	}

	&__item {
		text-decoration: none;
		display: inline-block;
		padding: rem-calc( 8 4 );
		margin: 0;

		@include breakpoint( medium ) {
			margin: rem-calc( 0 20 );			
		}

		&::after {
			@include underline();
		}
		&:hover::after,
		&--active::after {
			@include underline-hover( $primary-color )
		}

		&--home {
			@include breakpoint( medium ) {
				display: none;
			}
		}
	}

	&__logo {
		display: block;
		width: rem-calc( 30 );
		height: rem-calc( 30 );
	}

	a {
		text-decoration: none;
		white-space: nowrap;
	}
}