.main-menu {
	@include reset-list();
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: rem-calc( 18 );

	&__item {
		text-decoration: none;
		display: inline-block;
		padding: rem-calc( 8 4 );
		margin: rem-calc( 0 20 );

		&::after {
			content: '';
			display: block;
			height: 2px;
			width: 0;
			background: transparent;
			transition: width .5s ease, background-color .5s ease;
		}
		&:hover::after,
		&--active::after {
			width: 100%;
			background: $primary-color;
		}
	}

	a {
		text-decoration: none;
	}
}