.menu-paging {
	&__item {
		cursor: pointer;

		@include breakpoint( medium ) {
			// max-width: rem-calc( 100 );
		}
	}

	&__label {
		padding: rem-calc( 0 7 );
		@include breakpoint( medium ) {
			padding: 0;
			display: none;
		}

		.slick-current & {
			// border: 1px solid rgba( 255, 255, 255, 0.3);
		}
	}

	&__icon {
		display: none !important;
		fill: #484848;

		.slick-current & {
			fill: $primary-color;
			color: $primary-color;
		}

		@include breakpoint( medium ) {
			display: block !important;
			width: rem-calc( 100 );
			height: rem-calc( 100 );
		}
	}

}