.moreinfo {
	background-color: $jasmin-salmon;
	position: relative;

	&__inner {
		@include flex-grid-row();
	}

	&__text,
	&__photo {
		@include flex-grid-column(12);

		@include breakpoint( large ) {
			@include flex-grid-column(6);
		}
	}

	&__text {
		padding-bottom: rem-calc( 35 );
	}

	&__photo {
		@include breakpoint( large ) {
			@include half-fullwidth-section();
		}
	}
}