.moreinfo {
	background-color: $jasmin-salmon;
	position: relative;
	width: 100%;
	height: 100%;


	&__inner {
		@include flex-grid-row();
		overflow: hidden;
		height: 100%;
		max-height: 100%;

		@include breakpoint( large ) {
			max-width: none;
			flex-flow: row nowrap;
			align-content: stretch;
		}
	}

	&__text,
	&__photo {
		@include flex-grid-column(12);

		@include breakpoint( large ) {
			// @include flex-grid-column(6);
		}
	}

	&__text {
		padding-bottom: rem-calc( 35 );
		position: relative;
		overflow: hidden;
		height: auto;
		max-height: 100%;

		@include breakpoint( large ) {
			width: 33.3%;
			max-width: 33.3%;
			flex: 0 0 33.3%;		
			padding: rem-calc( 20 30 50 50 );			
			// overflow-y: auto;
		}

		@include breakpoint( xlarge ) {
			padding: rem-calc( 40 60 100 100 );
		}
	}

	&__photo {

		padding-bottom: rem-calc( 30 );

		@include breakpoint( medium ) {
			padding-bottom: rem-calc( 0 );
		}
		@include breakpoint( large ) {
			@include half-fullwidth-section();

			width: 66.6%;
			flex: 0 0 66.6%;
			left: 33.3%;
			padding-left: 0;
		}
	}
}