.page {
	min-height: 100vh;
	
	@include breakpoint( large ) {
		display: flex;

		&--layout-inside {
			justify-content: space-between;
			flex-flow: column nowrap;
		}

		&--color {
			background-color: $jasmin-salmon;
		}

		&--about {
			height: calc(100vh - #{$scrolled-header-height});
			min-height: initial;
			// height: calc(100vh - 80px);
		}
	}
}