.page {

	@include breakpoint( large ) {
		min-height: 100vh;
		display: flex;

		&--layout-inside {
			justify-content: space-between;
			flex-flow: column nowrap;
		}

		&--color {
			background-color: $jasmin-salmon;
		}
	}
}