.showcase {
	background: $white url('../../images/bg-photo.jpg') no-repeat center;
	background-size: cover;

	min-height: rem-calc(260);


	@include breakpoint( medium ) {
		position: absolute;
	    top: $header-height;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    padding-bottom: 120px; //TODO resolve centering of logo in other way
		
		min-height: rem-calc(520);

		display: flex;
		justify-content: center;
		align-items: center;
		
		.page-scrolled & {
			// margin-top: $header-height;
		}
	}

	&__logo {
		display: none;

		@include breakpoint( medium ) {
			display: block;
			width: rem-calc(255);
			height: rem-calc(255);
			background-color: $white;
			transform: rotate(45deg);
			display: flex;
			justify-content: center;
			align-items: center;
		}

	}
}