{% extends "_layout.common.twig" %}

{% block page %}

<section class="showcase">
	<div class="showcase__logo">
		<svg class="logo logo--center">
		    <use xlink:href="/dist/svg/svg.svg#logo-center" />
		</svg>
	</div>
</section>



{% endblock %}
